#logo {
	background: transparent url('../img/1.jpg');
	background-size : 100% 100%;
	min-height: 0%;
}
#touch {
	background: transparent url('../img/page.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}
#loading {
	background: transparent url('../img/loading.gif');
	background-size : 100% 100%;
	min-height: 100%;
}

#login {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;
	min-height: 100%;
}

#confirm {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;
	min-height: 100%;
}

#confirmkid {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;
	min-height: 100%;
}

#main {
	background: transparent url('../img/page.png');
	background-size : 100% 100%;
	min-height: 100%;
}


#main1 {
	background: transparent url('../img/page.png');
	background-size : 100% 100%;
	min-height: 100%;
}


#main2 {
	background: transparent url('../img/page.png');
	background-size : 100% 100%;
	min-height: 100%;
}


#vid{
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;	
}

#game {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;	
}

#rs{
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;
}

#sim{
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}


#balloon1{
	background: transparent url('../img/wel-bg.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#balloon2{
	background: transparent url('../img/howplay1bg.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#balloon3{
	background: transparent url('../img/howplay2bg.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#vasmain {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#paint {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#evkid {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#evparent {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#mypas {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#mypas2 {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#mypas3 {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#mypas4 {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#mypas4 {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#mypas5 {
	background: transparent url('../img/3.jpg');
	background-size : 300% 300%;
	min-height: 100%;
	font-family: supermarket;
}

#match1 {
	background: transparent url('../img/time_game_start-bg.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;	
}

#match2 {
	background: transparent url('../card/bg-win-card.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;	
}

#match3 {
	background: transparent url('../img/bg-howtoplay.jpg');
	background-size : 100% 100%;
	min-height: 100%;
	font-family: supermarket;	
}

#ev1 {
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}

#balloon{
	background: transparent url('../img/3.jpg');
	background-size : 100% 100%;
	min-height: 100%;
}		

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
.custom-btn {
	width: 35% !important;
	min-width: 160px !important;
	height: auto !important;
}

.container {
	display: inline;
	margin: 10%;
}

.touchpic {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	
}

.towertouch {
	position: absolute;
	bottom: 18%;
	right: 10%;
	width: 40%;
}

.con{
	display:block
}

#btgroup {
	margin-left: 55%
}
.dn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 13px;
	margin-right: 40px;
}

.textinput{
	display: block;
	margin-left: 30%;
	padding: 3%;
}
.textinput p {
    display: inline;
	font-family: supermarket;
	font-size: 250%;
	margin-right: 2%;
	line-height: 200%;
}

 #tb {
	display: inline;
	font-size: 20pt;
 }
 
 .gender {
	width: 20%;
}

.group {
	width: 10%;
}


.textinput2{
	display: block;
}

.textinput2 p {
    display: inline;
	font-family: supermarket;
	font-size: 250%;
	margin-right: 2%;
	line-height: 200%;
}


.logout {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
}

.logouttext{
	position: absolute;
	right: 42px;
	top: -35px;
	font-family: supermarket;
	font-size: 200%;
}

.dc {
	position: absolute;
	left: 0;
	bottom: 0;
}

.orange {
	position:absolute;
	width: 90%;
	margin-left: 4%;
	height: auto;
	background-color: rgba(255,204,153,0.7);
	background-size: 100% 100%;
	border-radius: 20px;
}

.evkidhead {
	font-family: supermarket;
	font-size: 500%;
	line-height: 10%;
}

.pas {
	position:absolute;
	width: 90%;
	background-color: rgba(255,204,153,0.7);
	background-size: 100% 100%;
	border-radius: 20px;
}

.scale {
	margin-top: 7%;
	margin-bottom: 7%;
	width: 70%;	
}

.scaledown {
	margin-bottom: 9%;
	width: 6%;	
}

.scaleup {
	margin-bottom: 9%;
	width: 6%;	
}

.pickid {
	position: relative;
	margin-top: 6%;
	width: 15%;
	height: auto;
}

#evkid .echo {
	margin-top: 12%;
}

.slider{
	position: absolute;
	width: 130%;
	margin-top: 15%;
	margin-right: 3%;
}

.gamepic {
	height: 180px;
	width: auto;
	border-style: solid;
}

#headY {
	top: 3px;
	height: 50px;
}
.logo {
	position: absolute;
	left: 0.5%;
	top: 0.5%;
	width: 108px;
	height: auto;
}

.back {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 15%;
	height: auto;
}

.next {
	position: relative;
	right: 0;
	width: 15%;
	height: auto;
	margin-top : 1.5%;
	margin-right : 1%;
}

.ok  {
	margin-top: 2%;
	margin-left: 1%;
	width: 15%;
	height: auto;
}

.edit {
	margin-top: 2%;
	width: 15%;
	height: auto;
}

.home {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 15%;
	height: auto;
}

.go {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: auto;
}

.mypashead {
	font-size: 300%;
	line-height: 50%;
}

.mypasline {
	display:block;
	margin-top: -0.5%;	
	margin-left: 25px;
	line-height: 100%;
}

.ageup img{
	width: 10%;
	margin-top: -3%;
}

.agedown img{
	width: 10%;
	margin-top: -3%;
}

.ui-radio .ui-radio-on span.ui-btn-inner{
   background: #ffa940;
  background-image: -webkit-linear-gradient(top, #ffa940, #ffd073);
  background-image: -moz-linear-gradient(top, #ffa940, #ffd073);
  background-image: -ms-linear-gradient(top, #ffa940, #ffd073);
  background-image: -o-linear-gradient(top, #ffa940, #ffd073);
  background-image: linear-gradient(to bottom, #ffa940, #ffd073);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  text-decoration: none;
}​

html, body { margin: 0; padding: 0; }

#mainpage{	
	background-image:url("bg.jpg");
	background-size:100% 100%;
	height: 100%;
}

#main2 .mainbutton {
	margin-top: 15%;
}

.mainbutton img {
	display: block;
	width: 40%;
	height: 30%;
}

@font-face {
    font-family: supermarket;
	src: url(supermarket.ttf);
}

.mainhead {
	width:65%;
	margin-top:7%;
	margin-left:20%;
	
}

.mainbutton{
	display: block;
	margin-top:7%;
	margin-right:12%;
}	

.mainbutton img {
	margin-top: 1%;
}

.maintower{
	position: absolute;
	left:0;
	bottom:0;
	width: 40%;
	height: auto;
	opacity: 0.75;
	margin-left: 5%;
	margin-bottom: 5%;
}

.tower{
	width: 100%;
	height: 100%;
}

.mainlogo{
	position: absolute;
	left:0;
	top:0;
}

.head
{
	font-family: supermarket;
	line-height: 50%;
	letter-spacing: 2px;
	font-size:500%;
}

.logo
{
	margin-left:0;
	margin-top:0;
}

.mid
{
	background-color: rgba(255,204,153,0.7);
	width: 90%;
	height: auto;
	margin-left: 5%;
	border-radius: 20px;
}

.pic1  img
{
	width:30%;
	height:auto;
	margin: 0 3% 0 3%;
}

.pic2  img
{
	width:30%;
	height:auto;
	margin-bottom: 1%;
}

.mid1
{
	width:15%;
	height:auto;
	margin-right:10%;
}

.mid2
{
	width:15%;
	height:auto;
	margin-left:10%;
}

.headreduce
{
	font-size:500%;
}

.logoreduce
{
	margin-left:0;
	margin-top:0;
}

.midreduce
{
	position: absolute;
	background-color: rgba(255,204,153,0.7);
	background-size: 100% 100%;
	width: 90%;
	border-radius: 20px;
}

.pic1reduce  img
{
	width:30%;
	height:auto;
}

.mid1reduce
{
	width:15%;
	height:auto;
	margin-right:8%;
}

.mid2reduce
{
	width:19%;
	height:auto;
	margin-left:8%;
}

.backreduce  img
{
	width:15%;
	height:auto;
	position:relative;
	bottom:0;
	left:0;
}

.homereduce img
{
	width:15%;
	height:auto;
	position:relative;
	bottom:0;
	left:0;
}

.vid {
	z-index: -10;
}

.headgame
{
	font-size:500%;
	line-height: 10%;
}

.logogame
{
	margin-left:0;
	margin-top:0;
}

.midgame
{
	position: absolute;
	background-color: rgba(255,204,153,0.7);
	background-size: 100% 100%;
	width: 90%;
	border-radius: 20px;
}

.pic1game  img
{
	width:30%;
	height:auto;
}

.mid1game
{
	width:15%;
	height:auto;
	margin-right:8%;
}

.mid2game
{
	width:19%;
	height:auto;
	margin-left:8%;
}

.backgame  img
{
	width:15%;
	height:auto;
	position:relative;
	bottom:0;
	left:0;
}

.homegame img
{
	width:15%;
	height:auto;
	position:relative;
	bottom:0;
	left:0;
}

.paint {
	display: block;
	width: 75%;
	height: auto;
}

.paintstage {
	width: 20%;
	height: auto;
}

.balloon {
	display: block;
	width: 60%;
	height: auto;
}

.head1 {
	font-size: 500%;
	font-family: supermarket;
	line-height: 10%;
	text-align: center;
}

.head2 {
	font-family: supermarket;
	font-size: 300%;
	line-height: 10%;
}

.head2 .kidhead {
	margin-top: 5%;
	margin-bottom: 7%;
	margin-left: 2%;
}

.head3{
	font-family: supermarket;
	font-size: 300%;
	line-height: 90%;
}

.head3 p{
	display: inline;
	margin: 0 9% 0 15%;
}

.head4{
	font-family: supermarket;
	font-size: 300%;
	line-height: 90%;
}

.head4 p{
	display: inline;
	margin: 0 1% 0 5%;
}

.head5{
	font-family: supermarket;
	font-size: 300%;
	line-height: 90%;
}

.head5 p{
	display: inline;
	margin: 0 7% 0 7%;
}

.head6{
	font-family: supermarket;
	font-size: 300%;
	line-height: 90%;
}

.head6 p{
	display: inline;
	margin: 0 3.5% 0 15%;
}

.head7{
	font-family: supermarket;
	font-size: 270%;
}

.head8 {
	font-family: supermarket;
	font-size: 270%;
	line-height: 10%;
}

.kidhead {
	margin: 0;
}

.kidnohead {
	font-size: 80%;
	margin: 0 0 0 2%;
}

.age {
	width: 12%;
	margin-top: -3%;
	margin-right: 1%;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.m1{
	margin-top: 35%;
	margin-right: 10%;
	
}

.m1 img{
	width: 30%;
	margin: 1%;
}

.b1{
	margin-top: 40%;
	margin-right: 8%;
	
}

.b1 img{
	width: 30%;
	margin: 1%;
}

.m3{
	position: absolute;
	right:15%;
	bottom:7%;
}

.popuppic {
	z-index: 10;
	width: 80%;
	margin-left: 10%;
	margin-top: -40%;
}






